@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p style="margin-bottom: 0px">Want to know a thing or two about inventory management?</p>
    <p style="margin-bottom: 0px">Come visit us at <a class="logintext" href="https://www.empite.com/">Empite</a> to explore the horizons.</p>
    <p>And in the mean time, why not enjoy a Cookie with us... and yes, we do have cookies</p>
    <img src="~/images/img3.png" />
</div>
