@page
@model IMSWebPortal.Pages.ManageInventory.CreateModel

@{
    ViewData["Title"] = "New Item";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h4>Add New Item</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-route-returnUrl="@Model.ReturnUrl">
            <partial name="./Shared/_StatusMessage" model="Model.StatusMessage" />
            <div class="form-group">
                <label asp-for="Input.Name" class="control-label"></label>
                <input asp-for="Input.Name" class="form-control" />
                <span asp-validation-for="Input.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Sku" class="control-label"></label>
                <input asp-for="Input.Sku" class="form-control" />
                <span asp-validation-for="Input.Sku" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Price" class="control-label"></label>
                <input asp-for="Input.Price" class="form-control" />
                <span asp-validation-for="Input.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Qty" class="control-label"></label>
                <input asp-for="Input.Qty" class="form-control" />
                <span asp-validation-for="Input.Qty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Add Item" class="btn btn-primary savebtn" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
