.toggle, .toggle-on, .toggle-off {
border-radius: 20px;
color: white;
cursor: pointer;
}

.toggle .toggle-handle {
border-radius: 20px;
}

.toggle-on:hover {
background-color: forestgreen;
color: white;
}

.toggle-off:hover {
background-color: #dc3545;
color: white;
}

.toggle-handle {
background-color: white;
}

.toggle-on {
background-color: green;
}

.toggle-off {
background-color: darkred;
}

.oktable {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

    .oktable > thead > tr > th {
        border-top: 1px solid;
        border-bottom: 1px solid;
        border-color: darkgray;
        background-color: aquamarine;
        padding: 5px;
    }

    .oktable > tbody > tr > td {
        border-top: 1px solid;
        border-bottom: 1px solid;
        border-color: darkgray;
        padding: 5px;
    }

#UserListTable > thead > tr > th:nth-child(4), #UserListTable > tbody > tr > td:nth-child(4) {
    text-align: center;
}

#UserListTable > thead > tr > th:nth-child(5), #UserListTable > tbody > tr > td:nth-child(5) {
    text-align: right;
}

#ItemListTable > thead > tr > th:nth-child(3),
#ItemListTable > thead > tr > th:nth-child(4),
#ItemListTable > thead > tr > th:nth-child(5),
#ItemListTable > tbody > tr > td:nth-child(3),
#ItemListTable > tbody > tr > td:nth-child(4),
#ItemListTable > tbody > tr > td:nth-child(5) {
    text-align: right;
}

#ItemQtyUpdateTable > thead > tr > th:nth-child(3),
#ItemQtyUpdateTable > tbody > tr > td:nth-child(3) {
    text-align: right;
}

#ItemQtyUpdateTable > thead > tr > th:nth-child(4),
#ItemQtyUpdateTable > tbody > tr > td:nth-child(4) {
    text-align: center;
}

.left{
    float:left;
}

.right{
    float: right;
}

.actionbtn{
    margin-left: 5px;
}

.savebtn {
    cursor: pointer;
}

.addbtn {
    cursor: pointer;
}

.editbtn {
    cursor: pointer;
}

.deletebtn {
    cursor: pointer;
}

.numberbox{
    text-align: left;
    border-color: grey;
}

.errorlable{
    color: red;
    text-align: left;
}

.uneditable{
    border: 0;
}

.uneditable:focus {
    border: 0 !important;
}

    .uneditable::selection {
        border: 0 !important;
    }

    .uneditable:active {
        border: 0 !important;
    }


